# eclipse workspace metadata
/.metadata
/.recommenders

# vim
*.swp
*.*~

# chunky build files
/build
/Chunky.nsi
/release_notes-*.txt
/chunky.jar

# benchmarking & testing
/bench/x*
/test

# releng
/lpcache
/bin
/latest.json
/snapshot.json
/snapshot
/credentials.json
/credentials.gpg

# IntelliJ IDEA Project files
.idea/*
*.eml
*.iml

# Render snapshots from testing
/*.png

# personal files
/TODO
