.root {
    -fx-base: rgb(30,30,30);
    -fx-background: rgb(20,20,20);
    -fx-control-inner-background: rgb(40, 40, 40);
    -fx-accent: orange;
    -fx-focus-color: orange;
}

ProgressBar {
    -fx-control-inner-background: rgb(30, 30, 30);
    -fx-progress-color: orange;
}

ToggleButton:selected {
    -fx-background-color: rgb(80,80,80);
}

Button {
    -fx-text-fill: #faebd7;
}

ToggleButton {
    -fx-text-fill: #faebd7;
}

CheckBox {
    -fx-text-fill: #faebd7;
}

Label {
    -fx-text-fill: #faebd7;
}

Text {
    -fx-fill: #faebd7;
}

SVGPath {
    -fx-fill: #faebd7;
}

Hyperlink {
    -fx-text-fill: orange;
    -fx-underline: false;
}

Hyperlink:visited {
    -fx-text-fill: orange;
}

Hyperlink:hover {
    -fx-text-fill: #faebd7;
    -fx-underline: true;
}

.numeric-text-field.invalid, .adjuster.invalid > .numeric-text-field {
    -fx-text-fill: #FF434A;
    -fx-text-box-border: #FF434A;
    -fx-focus-color: #FF434A;
}

.text-field-label-wrapper > .label {
    -fx-text-fill: gray;
}
.text-field-label-wrapper > .text-field {
    -fx-alignment: baseline-right;
}

.menu-item:disabled:focused {
    -fx-background: unset;
    -fx-background-color: transparent;
}

.menu-item:disabled:focused > .label {
    -fx-text-fill: white;
}

.lock-toggle {
    -fx-label-padding: 0em;
}
.lock-toggle > .box {
    -fx-alignment: center;
    -fx-content-display: graphic-only;

    /*-fx-min-width: 1.1em;*/
    /*-fx-pref-width: 1.1em;*/
    /*-fx-max-width: 1.1em;*/
    /*-fx-min-height: 2.1em;*/
    /*-fx-pref-height: 2.1em;*/
    /*-fx-max-height: 2.1em;*/
    -fx-padding: 0.5em 0.1em;

    -fx-background-color: none;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 0.25em;
}
.lock-toggle:hover > .box {
    -fx-background-color: #282828;
    -fx-border-color: black;
}
.lock-toggle:focused > .box {
    -fx-border-style: dotted;
    -fx-border-color: white;
}
.lock-toggle > .box > .mark {
    -fx-position-shape: true;
    -fx-scale-x: 0.45;

    -fx-scale-y: 1.50;
    -fx-background-color: #999;
}
.lock-toggle:selected > .box > .mark {
    -fx-scale-y: 1.27;
    -fx-background-color: white;
}
